<h1>Tutorials#index</h1>
<p>Find me in app/views/tutorials/index.html.erb</p>

<% @tutorials.each do |tutorial| %>
  <li class="tutorial" id="<%= dom_id(tutorial) %>">
    <h3><%= tutorial.title %></h3>
    <div class="nav">
      <%= link_to 'Show', tutorial %> |
      <%= link_to 'Edit', edit_step_path(tutorial) %> |
      <%= link_to 'Destroy', tutorial, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </li>
<% end %>

<%= link_to 'Make a new tutorial', new_tutorial_path %>

<p> bottom of index page</p>
