<h1>Steps#index</h1>
<p>Find me in app/views/steps/index.html.erb</p>

<% @steps.each do |step| %>
  <li class="step" id="<%= dom_id(step) %>">
    <h3><%= step.name %></h3>
    <p><%= step.description %></p>
    <div class="nav">
      <%= link_to 'Show', tutorial_path %> |
      <%= link_to 'Edit', edit_tutorial_step(@tutorial, step) %> |
      <%= link_to 'Destroy', [@tutorial, step], method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </li>
<% end %>
